<h1>Listing wines</h1>

<table id="wines-table">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Family</th>
    <th>Winery</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Wine</a>